@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 2.5s ease-in-out 0s; /* Назва з'являється через 2 секунди */
  animation-fill-mode: forwards;
}

@keyframes fadeInDelayed {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate-fadeInDelayed {
  animation: fadeInDelayed 6s ease-in-out 0s; /* Опис з'являється через 3 секунди */
  animation-fill-mode: forwards;
}

@keyframes buttonFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate-buttonFadeIn {
  animation: buttonFadeIn 8s ease-in-out 0s; /* Кнопка з'являється через 4 секунди */
  animation-fill-mode: forwards;
}
.hiddenImageBg{
  background-position: center;
  background-image: url('../assets/bgc.png');
  background-repeat:no-repeat;
}