@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 1s ease-in-out 0s; /* Назва з'являється через 2 секунди */
  animation-fill-mode: forwards;
}

@keyframes fadeInDelayed {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate-fadeInDelayed {
  animation: fadeInDelayed 2s ease-in-out 0s; /* Опис з'являється через 3 секунди */
  animation-fill-mode: forwards;
}

@keyframes buttonFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate-buttonFadeIn {
  animation: buttonFadeIn 3s ease-in-out 0s; /* Кнопка з'являється через 4 секунди */
  animation-fill-mode: forwards;
}
@keyframes buttonFadeIn2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.4;
  }
}

.animate-buttonFadeIn2 {
  animation: buttonFadeIn 3s ease-in-out 0s; /* Кнопка з'являється через 4 секунди */
  animation-fill-mode: forwards;
}
.hiddenImageBg{
  background-position: center;
  background-image: url('../assets/bgc.png');
  background-repeat:no-repeat;
}
html{
  cursor: none;

}
.flare {
  position: fixed;
  border: 2px solid #ffffff96;
  border-radius: 50%;
  mix-blend-mode: screen;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 999999 !important;
  backdrop-filter: blur(2px);
  background-color: #0000007c;
  transition: width 0.25s ease-in-out, height 0.25s ease-in-out;
}

@media screen and (max-width: 768px) {
  .flare {
    width: 0;
    height: 0;
    transition: width 0.2s ease-in-out, height 0.2s ease-in-out,
      opacity 0.2s ease-in-out;
  }
}

.flare.pointer {
  opacity: 0 !important;
  transition: width 0.25s ease-in-out, height 0.25s ease-in-out, opacity 0.1s ease-in-out;
} 